*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffff;

}
.sethover:hover{
background: #eff3f4;
}
.bgf7f9f9{
    background: #eff3f4;
}
.bge5e4e1{
    background: #e5e4e1;
}
.sethover:hover{
    background: #e5e4e1;

}
.lefttext{
    color: rgb(15, 20, 25);
}
.lefthover:hover{
    background: rgba(247,249,249,1.00);
}
.backgroundright{
    background: rgba(247,249,249,1.00);
}
.textcolor{
    color: rgb(83, 100, 113);
}
.textrgbe{
    color: rgb(15, 20, 25);

}
.hoverbg:hover{
    background-color: rgba(15,20,25,0.1);
}
.r-6026j {
    background-color: rgba(255,255,255,0.85);
}
.navbarborder{
    background-color: rgb(29, 155, 240);
}
.navbarcolor{
    color: rgb(83, 100, 113);
}
.iconcolor{
    color:rgba(29,155,240,1.00)!important;
}